body {
  background-color : #fffcff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: Helvetica;
}

#profile-pic{
    width: 100px;
    height: 150px;
    border-radius: 200px;
}

h1 {
    color: #2d3142;
}
